{% extends 'base.html'%} 

{% block head %}
<h1>STONKS Final Project</h1>
<h2>CS 497-2</h2>
<h2>Group Members:</h2>
<ul>
    <li>Jonathan Hua</li>
    <li>Chris Edusada</li>
    <li>James Foerster</li>
    <li>Jason Bennett</li>
</ul>
{%endblock%}

{% block body %}
<form method = "POST" action = "/process_ticker">
    <div class = "form-group">
        <label for="tickerInput">TICKER SYMBOL:</label>
        <input type = "text" name = "tickerInput">
    </div>
    <input class = "btn btn-primary" type = "submit" value = "CALCULATE">
</form>
{%endblock%}