{% extends 'base.html'%}

{% block head %}
<h1>STONKS Final Project</h1>
<h2>CS 497-2</h2>
<h2>Group Members:</h2>
<ul>
    <li>Jonathan Hua</li>
    <li>Chris Edusada</li>
    <li>James Foerster</li>
    <li>Jason Bennett</li>
</ul>

<hr>
{%endblock%}

{% block body %}
<body>
    <div>
        <h1>{{longName}}</h2>
        <h1>Ticker symbol: {{ tickerInput }}</h1>
        <img src = "{{logo_url}}"> 
        <h2>Sector:</h2>
            <p1>{{sector}}</p1>
        <h2>Industry:</h2>
            <p1>{{industry}}</p1>
        <h2>Company Description: </h2>
            <p1>{{companyDescription}}</p1>
        <h2>Website:</h2>
            <a href="{{website}}">{{website}}</a>
        <h2>Stock Graphs</h2>
            <img src = "{{plot_url}}">
        <h3>Numbers Predicted for the next 30 days:</h3>
            <p1>{{predictionString | safe}}</p1>
    </div>

    <hr>

    <form method = "POST" action = "/process_ticker">
        <div class = "form-group">
            <label for="tickerInput">TICKER SYMBOL:</label>
            <input type = "text" name = "tickerInput">
        </div>
        <input class = "btn btn-primary" type = "submit" value = "CALCULATE">
    </form>
</body>

{%endblock%}